# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.env
venv/
.venv/

# SQLite DB (do not commit local DB)
*.db
*.sqlite3

# Flask uploads (local files, not for git)
backend/static/uploads/

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
